.abtn {
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    text-decoration: none;
}
.ctable td, th {
    padding: 10px;
    border: solid black 2px;
}
.ctable {
    border-collapse: collapse;
    padding-top: 10px;
    font-size: x-large;
    margin: 0 auto;
}
body {
    margin: 0;
}